
/* Our Offer Section */
.our-offer {
    background: url('images/rose.jpg') no-repeat center center/cover;
    /* padding: 60px 0px; */
    color: white;
}

/* About Us Card */
.about-card {
    background: white;
    padding: 100px;
    /* border-radius: 15px; */
    /* margin-bottom: 40px; */
    border-bottom-left-radius: 200px;
    max-width: 780px;
    margin-left: auto;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
    margin-top: 0;
}

.about-card h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--dark);
}

.about-card p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

.read-more-btn {
    padding: 12px 30px;
    float: right;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #8e44ad, var(--gold));
    border-radius: 34px 10px 34px 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(142, 68, 173, 0.4);
}

.read-more-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(142, 68, 173, 0.6);
}

/* Offer Cards */
.offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
}

.offer-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.offer-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--dark);
}

.offer-card p {
    font-size: 1rem;
    color: #666;
}