
/* Our Offer Section */
.place-to-stay {
    background: url('images/coimbra2.jpg') no-repeat center center/cover;
    /* padding: 60px 0px; */
}

/* About Us Card */
.about-card {
    background: white;
    padding: 100px;
    /* border-radius: 15px; */
    /* margin-bottom: 40px; */
    border-bottom-left-radius: 200px;
    max-width: 780px;
    margin-left: auto;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
    margin-top: 0;
}

.about-card h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--dark);
}

.about-card p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

.read-more-btn {
    padding: 12px 30px;
    float: right;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #8e44ad, var(--gold));
    border-radius: 34px 10px 34px 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(142, 68, 173, 0.4);
}

.read-more-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(142, 68, 173, 0.6);
}

/* Offer Cards */
.offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
}

.offer-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.offer-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--dark);
}

.offer-card p {
    font-size: 1rem;
    color: #666;
}


/* Offer List */
.offer-list {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.offer-card {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.offer-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--gold);
}

/* Additional Details */
.places-section,
.stay-section {
    flex: 1 1;
    padding: 10px;
}

.places-section h3,
.stay-section h3 {
    color: var(--gold);
    margin-bottom: 15px;
}

.offer-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer-info li {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.offer-info li i {
    margin-right: 10px;
    color: var(--gold);
    font-size: 1.2rem;
}

/* Style for links in the offer-info list */
.offer-info a {
    color: var(--dark); /* Use your desired color */
    text-decoration: none; /* Remove underline */
    font-weight: 500; /* Optional: Add some weight for better visibility */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.offer-info a:hover {
    color: var(--gold-dark); /* Change color on hover */
    text-decoration: underline; /* Optional: Add underline on hover */
}